.a-logo {
    height: 55px;
}

.navbar-brand {
    margin-left:285px;
    font-family: 'Petit Formal Script', cursive;
    font-size:25px;
}

.dropdown-menu {
    top:35px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

#navbarSupportedContent {
    margin-left:720px;
    font-family: 'Philosopher', sans-serif;
}