<carousel>
  <slide>
    <img src="../../assets/Pictures/ash-edmonds-494468-unsplash.jpg" alt="first slide"
      style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-block">
      <h3>Първи слайд</h3>
    </div>
  </slide>
  <slide>
    <img src="../../assets/Pictures/black-and-white-blue-bottles-339835.jpg" alt="second slide"
      style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-block">
      <h3>Втори слайд</h3>
    </div>
  </slide>
  <slide>
    <img src="../../assets/Pictures/blur-blurred-background-bottle-724635.jpg" alt="third slide"
      style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-block">
      <h3>Трети слайд</h3>
    </div>
  </slide>
</carousel>