.frag-description-type {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
}

.frag-summary {
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
}

.frag-notes {
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
}