/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}

.modal-dialog {
    margin-top: 200px !important;
}

.modal-content {
    border-radius: 20px !important;
}